@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

.container
{
	width: 70%;
	margin: 0 auto;
}

nav ul
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

nav ul li a
{
	color: #7d7d7d;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	transition: all 0.2s;
}

nav ul li a:hover
{
	color: #000;
	padding-bottom: 5px;
	border-bottom: solid 3px #000;
}

nav ul li:first-child
{
	border-right: solid 3px #555555;
}

.mainHeading
{
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: center;
	margin-top: 80px;
	border-bottom: solid 1px #000;
	padding-bottom: 25px;
	width: 900px;
}

.bioCon
{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 100px;
	width: 800px;
	height: 600px;

}

.bio1
{
	width: 50%;
	background-image: url(../images/jimmy.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.bio2
{	width: 50%;
	background-image: url(../images/tien.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.button1, .button2
{
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;	
	font-size: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 2px #f0f0f0;
	transition: all 0.2s;
	cursor: pointer;
}

.bio1 a:hover, .bio2 a:hover
{
	background-color: #f0f0f0;
	color: #535353;
}

.cover1, .cover2
{
	position: absolute;
	background-color: #f0f0f0;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: none;
}

.cover1-on, .cover2-on
{
	display: block;
}

.cover1 h3, .cover2 h3
{
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
	animation: animationH .5s 1 0s ease-in;
}

.cover1 p, .cover2 p
{
	color: #828282;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin: 20px;
	margin-bottom: 60px;
	animation: animationP 2s 1 0s ease;
}

@keyframes animationH{
    0%{
        transform: translateY(-50%);
        opacity: 0;
        }
    100%{
        transform: translateY(0%);
        opacity: 1;
        }
}

@keyframes animationP{
    0%{
        transform: translateY(8%);
        opacity: 0;
        }
    100%{
        transform: translateY(0%);
        opacity: 1;
        }
}

.return1, .return2
{
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	color: #828282;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #828282;
	transition: all 0.2s;
	cursor: pointer;
}

.return1 a:hover, .return2 a:hover
{
	background-color: #f0f0f0;
	color: #535353;
}



footer
{
	display: flex;
	flex-direction: row;
	margin-bottom: 70px;
}

h3
{
	font-size: 20px;
	color: #7d7d7d;
	font-family: 'Open Sans', sans-serif;
}

span
{
	display: block;
	margin-top: 10px;
	color: #b54949;
	text-align: center;
}

.linksCon
{
	margin-left: auto;
}

footer img
{
	width: 37px;
	height: 35px;
	margin-left: auto;
	margin-right: 5px;
	margin-left: 5px;
}

















