@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

.container
{
	width: 80%;
	margin: 0 auto;
}

nav ul
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

nav ul li a
{
	color: #555555;
	font-family: Myriad Pro;
	text-decoration: none;
	font-size: 30px;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

nav ul li a:hover
{
	color: #000;
}

nav ul li:first-child
{
	border-right: solid 3px #555555;
}

.bioCon
{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 80px;
	width: 800px;
	height: 600px;

}

.bio1
{
	width: 50%;
	background-image: url(../images/jimmy.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.bio2
{	width: 50%;
	background-image: url(../images/tien.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.button1, .button2
{
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	color: #f0f0f0;
	font-family: Myriad Pro;	
	font-size: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 2px #f0f0f0;
	transition: all 0.2s;
	cursor: pointer;
}

.bio1 a:hover, .bio2 a:hover
{
	background-color: #f0f0f0;
	color: #535353;
}

.cover1, .cover2
{
	position: absolute;
	background-color: #f0f0f0;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: none;
}

.cover1-on, .cover2-on
{
	display: block;
}

.cover1 h3, .cover2 h3
{
	font-family: Myriad Pro;
	margin-top: 50px;
}

.cover1 p, .cover2 p
{
	color: #828282;
	font-size: 15px;
	font-family: Myriad Pro;
	margin: 20px;
	margin-bottom: 60px;
}


.return1, .return2
{
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	color: #828282;
	font-family: Myriad Pro;	
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #828282;
	transition: all 0.2s;
	cursor: pointer;
}

.return1 a:hover, .return2 a:hover
{
	background-color: #f0f0f0;
	color: #535353;
}



footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
}

h3
{
	font-size: 20px;
	color: #555555;
	font-family: Myriad Pro;
}

span
{
	display: block;
	margin-top: 10px;
	color: #b50d0d;
	text-align: center;
}

footer img
{
	width: 37px;
	height: 35px;
}

















